<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title></title>

	<!-- need following links for modern fonts, for Office UI Fabric, go to https://aka.ms/office-ui-fabric -->
	<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.min.css">
	<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.components.min.css">
	<!-- Compiled and minified JavaScript -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
	<!--Import my css file-->
	<link href="Navigation.css" rel="stylesheet" type="text/css" />

	<script src="../Scripts/jquery-3.3.1.js" type="text/javascript"></script>
	<script src="../Scripts/FabricUI/MessageBanner.js" type="text/javascript"></script>
	<script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<!-- needed to link buttons from html to javascript file, not sure why scripts from js file cant be called though-->
	<script src="Navigation.js" type="text/javascript"></script>
</head>

<body>

	<!-- adding scripts to html file so they can be called by list elements onclick -->
	<script type="text/javascript">

		// cache report parameters to be imported right before loading report
		function cacheReportParameters(reportId, embedUrl, reportType) {

			if (reportType == "user_owns_data")
				Office.context.document.settings.set("reportType", "user_owns_data")
			else {
				Office.context.document.settings.set("reportType", "app_owns_data")
				// generating embed token will be done in report html file
			}

			Office.context.document.settings.set("reportId", reportId)
			Office.context.document.settings.set("embedUrl", embedUrl)

			Office.context.document.settings.set("reportLoaded", true)
			Office.context.document.settings.set("filtersEnabled", true)
			Office.context.document.settings.set("permission", "view")
			Office.context.document.settings.saveAsync(function (asyncResult) {})
		}

		// show the list of reports contained within a shared workspace
		function showReports(workspaceId) {
			Office.context.document.settings.set("workspaceId", workspaceId)
			Office.context.document.settings.saveAsync(function (asyncResult) { })

			document.getElementById("workspacesList").innerHTML = ""
			$('#backButton').show()
			
			$.ajax({
				url: "/api/authentication/getreportsfromgroup/" + workspaceId, success: function (result) {
					var reportTemplateLink = window.location.origin + "/Templates/Report.html" + window.location.search

					for (var key in result) {
						var report = result[key]
						var listElement = ""

						// generating html for each report in list of shared workspace reports
						listElement += "<a "
						listElement += "class=\"collection-item\" "
						listElement += "onclick=\"cacheReportParameters('" + report.id + "', '" + report.embedUrl + "', 'app_owns_data')\" "
						listElement += "href =\"" + reportTemplateLink + "\">" + report.name
						listElement += "</a>"

						document.getElementById("workspacesList").innerHTML += listElement
					}
				}, error: function (xhr, status, error) {
					console.log(error);
				}
			});
		}
	</script>


	<div class="row">

		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s6"><a id="reportsTab" class="active" href="#reports">View My Reports</a></li>
				<li class="tab col s6"><a id="workspacesTab" href="#workspaces">View All Workspaces</a></li>
			</ul>
		</div>

		<!-- will be populated by 'viewMyWorkspaceReports' in js file -->
		<div id="reports">
			<div class="collection" id="reportsList">
			</div>

			<div class="container center-align">
				<br />
				<a id="logOut1" class="waves-effect waves-light btn red darken-4 customwidth"><i class="material-icons left">supervisor_account</i>SWITCH ACCOUNTS</a>
				<br />
			</div>
		</div>

		<!-- will be populated by 'viewAllWorkspaces' in js file -->
		<div id="workspaces">
			<div class="collection" id="workspacesList">
			</div>

			<div class="container center-align">
				<br />
				<a id="logOut2" class="waves-effect waves-light btn red darken-4 customwidth"><i class="material-icons left">supervisor_account</i>SWITCH ACCOUNTS</a>
				<br />
			</div>

			<div class="container center-align">
				<br />
				<a id="backButton" class="waves-effect waves-light btn red darken-4 customwidth"><i class="material-icons left">folder_shared</i>ALL WORKSPACES</a>
				<br />
			</div>

		</div>

	</div>

</body>
</html>
